body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#common-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    height: 80%;
}

#main-content {
    display: flex;
    flex: 1;
    position: relative;
}

#task-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#btn-done {
    display: flex;
    justify-content: center;
}

.task-container {
    font-size: 28px;
}

.cube-row {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
}

.wrong-input {
    color: #FA8072;
}

input[type="number"] {
    width: 60px;
    height: 30px;
    font-size: 28px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {
    all: unset;
    cursor: pointer;
    width: 60px;
    background-color: #00b4b4;
    color: #FFF;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 6px;
    text-align: center;
}

button:hover {
    background-color: #AFEEEE;
}

button.right {
    background-color: #228B22;
}

button.wrong {
    background-color: #FA8072;
}

button:disabled {
    background-color: #A9A9A9;
}

@keyframes slideIn {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.cube {
    width: 40px;
    height: 40px;
    background-color: #228B22;
    opacity: 0;
}

.cube.animate {
    animation: slideIn 0.5s ease-out forwards;
}